@using MVC_WH.App_Code.Attributes
@model MVC_WH.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Fiók létrehozása", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Hozz létre egy fiókot és vadászd le a legjobb állásokat!</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthYear, new { @class = "col-md-2 control-label" })
        <select class="form-control" id="birthDateYear">
            <option value="" selected disabled>-- Kérjük válassz --</option>
           @for (int i = 2004; i >= 1935; i--)
           {
            <option value="@i">@i</option>   
           }
        </select>
    </div>

    <div class="form-group">
        
        <select class="form-control" id="birthDateYear">
            <option value="" selected disabled> --- </option>
           @for (int i = 1; i > 13; i++)
           {
            <option value="@i">@i</option>   
           }
        </select>
    </div>
    <!-- ezeket megformazni -->
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Fiók létrehozása" />
        </div>
    </div>
}

<script>
function dateuploader()
{
    console.log('i');
    for(let i = 1935; i < 2005;i++)
    {
        console.log(i);
        let item = '<option >'+i+'</option>';
        document.getElementById("birthDateYear").innerHTML = item;
    }
}
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
